@mixin border {
  box-sizing: border-box;
}
@mixin flex {
  // display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
}
#app {
  @include border();
  @include flex();
  width: 900px;
  height: 200vh;
  background: #222f3e;
  padding: 80px;
}

#hd {
  @include border();
  width: 100%;
  height: 100px;
  background: #1dd1a1;
}
#xj {
  width: 100vw;
  height: 100px;
  background: goldenrod;
  font-size: min(4vw, 1rem);
}
