div {
  border: solid 5px rgb(224, 142, 1);
  background-image: resolve('xj.jpg');
  width: width('xj.jpg');
  height: height('xj.jpg');
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
}
