@import 'open-props/postcss/style';
@import 'open-props/postcss/normalize';

:root {
  background: #000;
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}

#app {
  display: grid;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  grid-auto-flow: column;
  gap: 5px;
  &:hover {
    div {
      animation: hd 0.5s;
    }
  }
}
@keyframes hd {
  50% {
    opacity: 0;
    transform: rotateZ(7200deg) scale(10);
  }
  to {
    transform: rotateZ(0deg) scale(1);
  }
}
